.banner {
    height: 90vh;
    background-color: $secondaryGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Assets/Images/bg-showcase.jpg');
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    img {
        width: 450px;
        height: auto;
        margin-left: 5vw;
    }
    
}
.featureContainer {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    padding: 5vh 5vw;
    align-items: center;
    span[role=img]{
      font-size: 2.5rem;
    }
    .sectionImage {
        opacity: 0;
        margin: 0 1vw;
        width: auto;
        height: 100%;
    }
    .featureInfo {
        width: 500px;
        opacity: 0;
        .airplaneIcon{
          display: inline-block;
          width: 2rem;
          height: auto;
        }
        h2 {
            color: black;
            font-weight: 900;
        }
        p {
            margin: 5vh 0;
            color: $primaryBlack;
        }
    }
}

#pointsSection{
  background-image: url("../Assets/Images/bg-calling-all-nerds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: flex-start;
  &.featureContainer{
    padding: 0;
    padding-left: 15vw;
    .featureInfo{
      z-index: 50;

    }
  }
  .sectionImage{
    height: 100%;
    width: auto;
    margin: 0;
    position: absolute;
    right: 0;
    top:0;
  }
}

#creditSection{
  background-color: #241e20;
  h2,p{
    color: white;
  }
}

.topFooter {
  background-color: white;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
padding: 0 2vw;
  p {
      margin-top: 2%;
  }
}