.banner {
  height: 90vh;
  background-color: $secondaryGray;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 450px;
    height: auto;
    margin-left: 5vw;
  }
  .actionCallContainer {
    width: 650px;

    p {
      margin: 5vh 0;
    }
    input {
      height: 54px;
      width: 425px;
    }
    .errorMsg {
      color: red;
      margin-top: 2.5%;
      display: inline-block;
      padding-left: 0.5%;
    }
  }
}
.featureContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    opacity: 0;
    margin: 0 7vw;
    width: 300px;
    height: auto;
  }
  .featureInfo {
    width: 650px;
    opacity: 0;
    h2 {
      color: $primaryGreen;
      font-weight: bold;
    }
    p {
      margin: 5vh 0;
    }
  }
}
