@import url("//db.onlinewebfonts.com/c/4c549f58ac7bed64fa40dbe9b3ca6ed4?family=Archer+Semibold");

$primaryGreen: #56acbf;
$secondaryGray: #e6e7e9;
$primaryGray: #2c282c;
$primaryFont: "Archer Semibold", sans-serif;
$primaryBlack: #212529;