@import url("//db.onlinewebfonts.com/c/4c549f58ac7bed64fa40dbe9b3ca6ed4?family=Archer+Semibold");
@import url("//db.onlinewebfonts.com/c/1f386639b52564cd55b0c3a9f9b0ffa0?family=ArcherBold");

$primaryGreen: #56acbf;
$secondaryGray: #e6e7e9;
$primaryGray: #2c282c;
$secondaryGreen: #edf7f8;
$primaryFont: "ArcherBold", sans-serif;
$secondaryFont: "Archer Semibold", sans-serif;
$primaryBlack: #212529;